<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- 롤링 기능을 사용해 이동 평균, 누적합 등을 조회할 수 있습니다.
- 시프트 기능을 사용해 표시되는 행 위치를 다르게 할 수 있습니다.
- 롤링 시프트 결과를 기존 데이터프레임에 새로운 열로 추가할 수 있습니다.

# P6. [실습] 데이터프레임 롤링 시프트

In [0]:
# 라이브러리와 파일 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/stock.csv'
stock = pd.read_csv(file_path, sep = ',') 
stock.head()

         Date      High       Low      Open     Close     Volume  Adj Close
0  2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200   3.470226
1  2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400   3.177650
2  2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400   3.224152
3  2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200   2.945139
4  2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600   3.084645

1) stock 데이터프레임에서 Adj Close 열을 제거하세요.

In [9]:
# Adj Close 열 제거
stock.drop(['Adj Close'], axis=1, inplace=True)

# 확인
stock.head()

         Date      High       Low      Open     Close     Volume
0  2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200
1  2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400
2  2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400
3  2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200
4  2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600

2) **rolling()** 메소드를 사용해 3일 이동 최대 주가를 갖는 Close_lag3_1 열을 추가하세요.

In [11]:
# 3일 이동 최대 주가
stock['Close_lag3_1'] = stock['Close'].rolling(3).max()

# 확인
stock.head()

         Date      High       Low      Open     Close     Volume  Close_lag3_1
0  2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200           NaN
1  2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400           NaN
2  2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400      3.997768
3  2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200      3.714286
4  2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600      3.714286

3) **rolling()**, **shift()** 메소드를 사용해 기준일을 포함하지 않은 과거 3일의 최대 주가를 갖는 Close_lag3_2 열을 추가하세요.

In [14]:
# 과거 3일의 최대 주가
stock['Close_lag3_2'] = stock['Close'].rolling(3).max().shift(1)

# 확인
stock.head()

         Date      High       Low  ...     Volume  Close_lag3_1  Close_lag3_2
0  2000-01-03  4.017857  3.631696  ...  133949200           NaN           NaN
1  2000-01-04  3.950893  3.613839  ...  128094400           NaN           NaN
2  2000-01-05  3.948661  3.678571  ...  194580400      3.997768           NaN
3  2000-01-06  3.821429  3.392857  ...  191993200      3.714286      3.997768
4  2000-01-07  3.607143  3.410714  ...  115183600      3.714286      3.714286

[5 rows x 8 columns]

4) 기준일을 포함하지 않은 과거 7일 평균 거래량을 갖는 Volume_lag7 열을 추가하세요.

In [15]:
# 과거 7일 평균 거래량
stock['Volume_lag7'] = stock['Volume'].rolling(3).mean()

# 확인
stock.head()

         Date      High       Low  ...  Close_lag3_1  Close_lag3_2  Volume_lag7
0  2000-01-03  4.017857  3.631696  ...           NaN           NaN          NaN
1  2000-01-04  3.950893  3.613839  ...           NaN           NaN          NaN
2  2000-01-05  3.948661  3.678571  ...      3.997768           NaN  152208000.0
3  2000-01-06  3.821429  3.392857  ...      3.714286      3.997768  171556000.0
4  2000-01-07  3.607143  3.410714  ...      3.714286      3.714286  167252400.0

[5 rows x 9 columns]

5) stock 데이터프레임에서 2018년 데이터만 가져와 **stock2018** 데이터프레임을 만드세요.

In [18]:
# 2018년 데이터 가져오기
stock2018 = stock.loc[stock['Date'].between('2018-01-01', '2018-12-31')]

# 확인
stock2018.head()

            Date        High  ...  Close_lag3_2   Volume_lag7
4528  2018-01-02  172.300003  ...    171.080002  2.267867e+07
4529  2018-01-03  174.550003  ...    172.259995  2.702457e+07
4530  2018-01-04  173.470001  ...    172.259995  2.583613e+07
4531  2018-01-05  175.369995  ...    173.029999  2.520417e+07
4532  2018-01-08  175.610001  ...    175.000000  2.222080e+07

[5 rows x 9 columns]

6) stock2018 데이터프레임의 인덱스를 초기화 하세요.

In [21]:
# 인덱스 초기화
stock2018.reset_index(drop=True, inplace=True)

# 확인
stock2018.head()

         Date        High         Low  ...  Close_lag3_1  Close_lag3_2   Volume_lag7
0  2018-01-02  172.300003  169.259995  ...    172.259995    171.080002  2.267867e+07
1  2018-01-03  174.550003  171.960007  ...    172.259995    172.259995  2.702457e+07
2  2018-01-04  173.470001  172.080002  ...    173.029999    172.259995  2.583613e+07
3  2018-01-05  175.369995  173.050003  ...    175.000000    173.029999  2.520417e+07
4  2018-01-08  175.610001  173.929993  ...    175.000000    175.000000  2.222080e+07

[5 rows x 9 columns]

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>